<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/gameover.css">
    <title>Game over</title>
</head>
<head>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>
<body class="background404">
<div class="border2">
<div class="border1">
<div id="container-gameover">
  
  <!--Pixel Art -->
    <div class="container-pixel">
  <div id="art"></div>
    </div>
  <div class="container-pixel">
  <div id="art"></div>
    </div>
  <div class="container-pixel">
  <div id="art"></div>
    </div>
  
  <h1 id="gameover">Game Over</h1>
  <p class=journey>Your journey has come to an end...</p>
  <p> Score: <%=correctAnswers%> </p>
   <div class="container-pixel-2">
  <div id="art-2"></div>
  </div>
  <a href="/"><h3 class="continue">Continue</h3></a>
  <h3 class="continue">End</h3>
 
</div> <!-- End Container -->
</div> <!-- End Border1 -->
</div> <!-- End Border2 -->
  
</body>
</html>